<nav class="navigation">
    <a href='/'>

    <div class="logo-div">
    <span>MK Part Picker</span>
    <div>
        {{! <object class='logo' style="stroke:red;" data='/images/keyboard-modified.svg'></object> }}
    <img src='/images/keyboard-modified.svg' style="stroke:red;" class="logo" />
    </div>
    </div>
    </a>
        <ul class="navigation--links">

        <li><a href='/'>Builder</a></li>
        <li><a href='/products'>Products</a></li>
        <li><a href='/guides'>Guides</a></li>
        <li><a href='/completed-builds'>Completed Builds</a></li>
    </ul>
</nav>