<nav class="navigation">
    <img src='/images/keyboard-svgrepo-com.svg'></img>
    <ul class="navigation--links">

        <li><a href='/'>Builder</a></li>
        <li><a href='/products'>Products</a></li>
        <li><a href='/guides'>Guides</a></li>
        <li><a href='/completed-builds'>Completed Builds</a></li>
    </ul>
</nav>