<nav class="navigation">
    <div class="logo-div">
    <span>MK Part Picker</span>
    <img src='/images/keyboard-modified.svg' class="logo" />
    </div>
    <ul class="navigation--links">

        <li><a href='/'>Builder</a></li>
        <li><a href='/products'>Products</a></li>
        <li><a href='/guides'>Guides</a></li>
        <li><a href='/completed-builds'>Completed Builds</a></li>
    </ul>
</nav>