<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a Chassis</title>
    <link rel='stylesheet' href="/css/styles.css">
</head>
<body>
    {{>partials/navigation}}
    <h1>Choose a Chassis</h1>
    <table id="main-table">
        <thead>
            <td>Brand</td>
            <td>Component</td>
            <td>Number of Keys</td>
            <td>Keyboard Layout</td>
            <td>Price</td>
            <td>Tax</td>
            <td>Shipping</td>
            <td>Total</td>
            <td>Where?</td>
            <td>Star Rating</td>
            <td></td>
        </thead>
    </table>
</body>
<script src="scripts/cookies.js"></script>
<script src="scripts/chassis_script.js"></script>
</html>