<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Parts - MKPartPicker</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>partials/navigation}}
    <main>

        <h1>Choose Your Parts</h1>
        <p class="disclaimers" style="line-height:1.5; font-weight: 700;">
            Compatibility filter is not implemented<br>
            Shipping costs not included at this time<br>
            Promotion discounts not included at this time.
        </p>
        <button onclick="clearCart();">Clear cart</button>
        <table class='builder-table'>
            <thead>
                <td>Component</td>
                <td>Selection</td>
                <td>Base</td>
                <td>Quantity Needed</td>
                <td>Promo</td>
                <td>Shipping</td>
                <td>Tax</td>
                <td>Price</td>
                <td>Where</td>
                <td></td>
            </thead>
            <tbody id="builder-table-rows">
                <tr id="message_display_container">
                    <td id="message_display_container" colspan="10">Loading...</td>
                </tr>
                <tr id="chassis_container" class="hidden">
                    <td>Chassis </td>
                    
                </tr>
                <tr id="switches_container" class="hidden">
                    <td>Switches</td>
                </tr>
                <tr id="keycaps_container" class="hidden">
                    <td>Key Caps</td>
                </tr>
                <tr id="custom_part_form_container" class="hidden">
                    <td>Custom</td>
                    <td>
                        <a class="add_button" id="custom_part_button" href='#'>Add Custom Part</a>
                    </td>
                    <td colspan="8"></td>
                </tr>
                <tr class="keyboard--total hidden">
                    <td colspan="7" style="text-align: right;">Base Total:</td>
                    <td id="base_total"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="keyboard--total hidden">
                    <td colspan="7" style="text-align: right;">Tax:</td>
                    <td id="tax_total"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="keyboard--total hidden">
                    <td colspan="7" style="text-align: right;">Grand Total:</td>
                    <td id="grand_total"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <!-- w3 schools version of a modal -->
        {{>partials/custom_part_form}}
        <h1>No hyperlinks are vetted by MKPartPicker. Buy at your own risk!</h1>
        
        <hr>
        <div id="admin-container">

            <h3>Admin functions</h3>
            <p >
                
                <a class="admin_button" href="/data/mongoose">See all chassis options in database</a><br>
                <a class="admin_button" href="/data/switches">See all switch options in database</a><br>
                <a class="admin_button" href="/admin/add-part">Add a new part</a><br>
                <a class="admin_button" href="/admin/list-of-parts">See list of parts</a><br>
                <a class="admin_button" href="#" id="nuke_server_button">Nuke server</a><br>
            </p>
        </div>

    </main>
</body>
<script src="scripts/script.js"></script>
<script>
    var x = document.getElementById('function5678')
    x.classList.add('fillRed')
</script>
</html>