<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose your Key Caps</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>partials/navigation}}
    <h1>Choose your Switches</h1>
    <table id="keycap-table">
        <thead>
            <td>Brand</td>
            <td>Component</td>
            <td>Subtotal</td>
            <td>Tax</td>
            <td>Shipping</td>
            <td>Promo</td>
            <td>Total</td>
            <td>Where?</td>
            <td>Star Reviews</td>
        </thead>
    </table>
</body>
<script src="scripts/cookies.js"></script>
<script src="scripts/keycaps_script.js"></script>
</html>