<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Choose your Switches</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>partials/navigation}}
        <hr>
        <main>

            <h1>Choose your Switches</h1>
            <table id="switches-table">
                <thead>
                    <td>Brand</td>
                    <td>Component</td>
                    <td>Style of Switch</td>
                    <td>Quantity</td>
                    <td>Price per Switch</td>
                    <td>Subtotal</td>
                    <td>Tax</td>
                    <td>Shipping</td>
                    <td>Promo</td>
                    <td>Total</td>
                    <td>Where?</td>
                    <td>Star Reviews</td>
                    <td></td>
                </thead>
            </table>
        </main>
    </body>
    <script src="scripts/cookies.js"></script>
    <script src="scripts/switches_script.js"></script>
</html>