/* general styles */
body {
    margin: 0;
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a, a:visited, a:hover {
    color:inherit;
    text-decoration: none;
}

.hidden {
    display:none;
}
ul {
    padding-inline:0px;
}
ul li {
    list-style-type: none;
}
main {
    margin: 0 8px;
}

/* navigation styles */
nav {
    display:flex;
    flex-direction: row;
    gap:10px;
    background-color:rgb(47, 185, 185);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*font-family:    Tahoma, Geneva, Verdana, sans-serif; /* for some reason, this font looks cooler in the navbar */
}
nav ul.navigation--links {
    display:flex;
    flex-direction:row;
    margin:0;
    font-weight: 700;
    font-size:16pt;
}
nav ul.navigation--links li {
    padding: 10px 20px;
}

/* table styles */
/* table {
    border: 2px solid #e4e4e4;
    border-radius: 5px;
    padding: 5px 10px;
} */
tr {
    padding-top:15px;
    padding-bottom:15px;
    /* border-bottom: 1px solid red; */
}
td {
    
    padding: 10px 10px;
    border-bottom:1px solid #d8d8d8;
}
/* format keyboard total differently; it looks weird with lines*/
.keyboard--total td {
    border-bottom:none;
}


.builder-table {

}
.total-table {
    
}



/* specific styles */

a.add_button {
    display:block;
    padding: 2px 10px;
    color:rgb(231, 231, 231);
    background-color: rgb(22, 75, 75);
    border:1px solid black;
    font-size:12px;
    border-radius: 5px;
    font-weight:700;
    font-family: sans-serif;
    width: fit-content;
}
a.admin_button {
    display:block;
    /* border:1px solid black; */
    width: fit-content;
    padding: 5px 20px;
    border-radius:5px;
    font-size:14px;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    background-color:rgb(209, 55, 55);
}



/* w3 schools interpretation of a modal */
.modal {
    display:none;
    /* display:block; enable this to debug  */ 
    position:fixed;
    z-index: 1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.4); /* black with opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color:#aaa;
    float:right;
    font-size:28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color:black;
    text-decoration: none;
    cursor:pointer;
}

.close.primary-close-button {
    float:initial;
}